{% load users_tags %}
{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
{#    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/sign-in.css' %}" rel="stylesheet">
    {% bootstrap_css %}
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
    {% bootstrap_javascript %}
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
    <form method="post">
        {% csrf_token %}
        <div class="text-center">
            <img class="mb-4" src="{% static 'wanmark-logo.png' %}" alt="" width="298" height="53">
        </div>
        <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите:</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <span class="text-danger">{{ form.username.errors }}</span>
        <span class="text-danger">{{ form.password.errors }}</span>
        <span class="text-danger">{{ form.non_field_errors }}</span>
        <div class="form-floating">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">Пользователь</label>
        </div>
        <div class="form-floating">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">Пароль</label>
        </div>

{#        <div class="form-floating">#}
{#            <input name="username" type="username" class="form-control" id="floatingInput"#}
{#                   placeholder="Пользователь">#}
{#            <label for="floatingInput">Пользователь</label>#}
{#        </div>#}
{#        <div class="form-floating">#}
{#            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Пароль">#}
{#            <label for="floatingPassword">Пароль</label>#}
{#        </div>#}

        <button class="btn btn-info w-100 py-2" type="submit">Авторизоваться</button>
        <p class="mt-5 mb-3 text-center text-body-secondary">© {% current_time '%Y' %}</p>
    </form>
</main>
</body>
